*{
<<<<<<< HEAD
    background-color: aqua;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
#a1{
    font-family: cursive;
    font-size: large;
    color: rgb(107, 12, 196);
    font-weight: bold;
    text-decoration: none; 
}
#id1{
    border-radius: 50%;
    margin-top: 10px;
    border: 5px dotted crimson;
}
#p2{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
list{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
}
iframe{
    border-radius: 40px;
    border:3px solid blue;
    margin-bottom: 5px;
}
caption{
    font-weight: bold;
    color: indigo;
}
table{
    width: 800px;
    border: 2px solid fuchsia;
    text-align: center;
}
thead{
    color: brown;
}
form{
    color:rgb(216, 42, 51);
    width: 800px;
    border: 2px dotted teal;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 15px;

}
h4{
    font-weight: bold;
    color: black;
}
input{
    background-color:wheat;
    border: 1px solid red;
=======
    background-color:aquamarine;
}
#id1{
    margin-top: 10px;
    border: 5px dotted crimson;
    border-radius: 50%;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: underline;
    text-decoration-color: black;

}
#a1{
    text-decoration: none;
    color:purple;
    font-family: cursive;
    font-weight: bold;
}
#p2{
    font-weight: bold;
    font-size: large;
}
#l1{
    font-style: italic;
    font-size: large;
}
caption{
    font-style: italic;
    color: indigo;
    font-size: larger;
}
table{
    border:2px solid cornflowerblue;
    width:  800px;
    text-align: center;
    background-color:cornflowerblue ;
}
thead{
    color:brown
}
h4{
    color:black;
}
form{
    border:2px dashed rgba(216, 42, 187, 1);
    border-radius: 20px;
    width:800px;
    text-align: center;
    font-style: oblique;
    font-size: large;
    padding-bottom:8px;
    font-weight: bold;
    color:deeppink;
}

input{
    border: 1px solid rgb(240, 50, 50);
}
select{
    border: 1px solid rgb(240, 50, 50);
}
iframe{
    border-radius: 40px;
    margin-bottom: 5px;;
>>>>>>> 1e8193d05b5c30b4d802eda826378481e8462b8d
}